{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
  Название группы: {{ group.title }}
  <br>
  Описание группы: {{ group.description }}
  <br>
  {% for post in posts %}
    <article>
    <ul>
        <li>
            Автор: {{ post.author.get_full_name }}
        </li>
        <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
    </ul>
    {{ post.text|linebreaks }}
    {% if not forloop.last %}
      <hr>
    {% endif %}
    </article>
  {% endfor %}
{% endblock %}